.container {
  position: absolute;
}

.menu {
  position: fixed;
  right: 0;
  left: -100%;
  top: 0;
  bottom: 0;
  max-width: 32rem;
  background-color: $color-dark-3xl;
  z-index: 10;
  height: 100%;
  transition: all 0.5s ease;
}

.active {
  background-color: blue;
  inset: 0;
  & .menu {
    left: 0;
    transition: all 0.5s ease;
  }
}
