@font-face {
  font-family: 'Georgia';
  src: url('./../fonts/Georgia/Georgia.woff2') format('woff2'),
       url('./../fonts/Georgia/Georgia.woff') format('woff');
}

@font-face {
  font-family: 'Arial';
  src: url('./../fonts/Arial/ArialMT.woff2') format('woff2'),
       url('./../fonts/Arial/ArialMT.woff') format('woff');
}
