$color-primary-light: #fddcc4;
$color-primary: #f1cdb3;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-3xl: #292929;
$background: #e5e5e5;
$backgroundFriend: #f6f6f6;
$color-white: #fff;
$color-black: #000;
$background-modal: rgba(41, 41, 41, 0.6);
$background-burger: rgba(41, 41, 41, 0.85);

$content-width: 1280px; //добавить в макет

$dekstop: 1280px;
$sub-dekstop: 1275px;
$upLaptop: 1070px;
$laptop: 1024px;
$tablet: 770px;
$burger: 767px; //поменял из 767
$middle: 650px;
$mobileL: 425px;
$mobile: 320px;
