.wrapper {
  background-color: $color-light-l;
}

.container {
  padding: 8rem 0 10rem;
  @include flex(column);
}

.title {
  text-align: center;
  margin-bottom: 6rem;
  & span {
    display: block;
  }
}

.button {
  background-color: $color-primary;
  border: none;
  margin-top: 5rem;
}
