.container {
  display: none;
  order: 1;
  position: relative;
  right: 0;
  width: 3rem;
  height: 2rem;
  cursor: pointer;
  z-index: 11;

  & :first-child,
  & :last-child,
  & :nth-child(2) {
    display: block;
    position: relative;
    width: 100%;
    height: 0.2rem;
    background-color: $color-primary;
  }

  & :first-child {
    top: 0;
  }

  & :nth-child(2) {
    top: 50%;
  }

  & :last-child {
    top: 100%;
  }

  @include _730 {
    display: block;
  }
}

.menu {
  position: fixed;
  right: 0;
  left: -100%;
  top: 0;
  bottom: 0;
  max-width: 32rem;
  background-color: $color-dark-3xl;
  z-index: 10;
  height: 100%;
  transition: all 0.5s ease;
  &.active {
    left: 0;
    transition: all 0.5s ease;
  }
}
