.wrapper {
  flex: 1;
  background-color: $color-light-l;
  & .title {
    text-align: center;
    letter-spacing: 0.2rem;
    margin-bottom: 6rem;
  }
}

.container {
  @include flex(column, space-between center);
  padding-top: 8rem;
  padding-bottom: 10rem;
}
