.modalContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-grey;
  z-index: 11;
}

.modalContent {
  position: relative;
  max-width: 49vw;
  background-color: $color-light-s;
  position: relative;
  top: 50%;
  left: 50%;
  border-radius: 0.9rem;
  transform: translate(-50%, -50%);
  & .close {
    position: absolute;
    right: -4.4rem;
    top: -5rem;
    border: 1px solid $color-primary;
    border-radius: 50%;
    padding: 1.9rem;
    cursor: pointer;
  }
}

.body {
  @include flex(row, space-between, flex-start);
  & img {
    height: 35rem;
    border-radius: 0.9rem;
  }
  & .bodyContent {
    @include flex(column, space-between, flex-start);
    row-gap: 1rem;
    padding: 1rem;
    & h2,
    & h3,
    & h4 {
      color: $color-dark;
    }

    & h4 {
      font-weight: 400;
      line-height: 1;
    }
    & ul {
      padding: 0 1rem;
      & .list {
        font-size: 1.5rem;
        margin-bottom: 0.4rem;
        & strong {
          letter-spacing: 0.2rem;
          margin-right: 0.6rem;
        }
      }
    }
  }
}
