.modalContainer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $color-grey;
  z-index: 11;
}

.modalContent {
  position: relative;
  // max-width: 49vw;
  background-color: $color-light-s;
  position: relative;
  top: -100%;
  left: 50%;
  border-radius: 0.9rem;
  transform: translate(-50%, -50%);
  @include _1281 {
    width: 90rem;
  }
  @include _1280 {
    width: max(63rem, 70.3vw);
  }
  & .close {
    position: absolute;
    right: -4.4rem;
    top: -5rem;
    border: 1px solid $color-primary;
    border-radius: 50%;
    padding: 1.9rem;
    cursor: pointer;
  }
}

.body {
  @include flex(row, space-between, flex-start);
  & img {
    height: 35rem;
    border-radius: 0.9rem;
  }
}

.mount {
  animation: mount 0.3s forwards;
}

// .unMount {
//   animation: unMount 5s forwards;
// }

@keyframes mount {
  0% {
    top: 0;
  }
  100% {
    top: 50%;
  }
}

// @keyframes unMount {
//   0% {
//     top: 20%;
//   }
//   100% {
//     top: 80%;
//   }
// }
