@mixin flex($direction: row, $justify: space-between, $item: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $item;
}

@mixin _1280 {
  @media (max-width: 1280px) {
    @content;
  }
}

@mixin _1281 {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin _1020 {
  @media (max-width: 1020px) {
    @content;
  }
}

@mixin _890 {
  @media (max-width: 890px) {
    @content;
  }
}

@mixin _768 {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin _730 {
  @media (max-width: 730px) {
    @content;
  }
}

@mixin _598 {
  @media (max-width: 598px) {
    @content;
  }
}

@mixin _375 {
  @media (max-width: 375px) {
    @content;
  }
}
