$color-primary: rgb(241, 205, 179);
$color-dark: rgb(0, 0, 0);
$color-dark-l: rgb(84, 84, 84);
$color-dark-xl: rgb(76, 76, 76);
$color-dark-3xl: rgb(41, 41, 41);
$color-dark-s: rgb(205, 205, 205);
$color-light-s: rgb(250, 250, 250);
$color-light-xl: rgb(255, 255, 255);
$color-light-l: rgb(246, 246, 246);
$color-primary-light: rgb(253, 220, 196);
