.container {
  @include flex(row, flex-start, flex-start);
  column-gap: 12rem;
  padding-top: 8rem;
  padding-bottom: 10rem;
  @include _890 {
    @include flex(column-reverse);
    row-gap: 8rem;
  }
  & .imageWrapper {
    flex-basis: 39.5%;
    & img {
      margin: 0 0 0 auto;
    }
  }
  & .content {
    @include flex(column, flex-start, flex-start);
    flex-basis: 36%;
    row-gap: 2.5rem;
    padding-top: 1rem;
    @include _890 {
      width: 60%;
      padding-top: 0;
    }
    & h2 {
      width: 40rem;
      word-spacing: 1.4rem;
    }
    & p {
      font-family: "Arimo", sans-serif;
      color: $color-dark-xl;
      font-size: 1.5rem;
      line-height: 1.6;
    }
  }
}
