.header {
  @include flex();
}

.logo {
  padding: 2.5rem 0;
  & a {
    display: inline-block;
    font-size: 3.55rem;
    color: $color-primary;
    margin-bottom: 0.3rem;
  }
  & .subLogo {
    font-family: "Arimo", sans-serif;
    display: block;
    font-size: 1.3rem;
    color: $color-light-xl;
    letter-spacing: 0.15rem;
  }
}
