.about {
  padding: 80px 0 89px;
  @media (max-width: $tablet) {
    padding-bottom: 101px;
  }
  @media (max-width: $burger) {
    padding: max(42px, 10.44vw) 0 max(42px, 13.1vw);
  }
  &__container {
    @include flex(row, center, flex-start);
    column-gap: 13px;
    @media (max-width: $sub-dekstop) {
      align-items: center;
    }
    @media (max-width: $laptop) {
      justify-content: space-around;
      align-items: center;
    }
    @media (max-width: $tablet) {
      @include flex(column-reverse, center, center);
      gap: 10.5vw;
    }
    @media (max-width: $burger) {
      padding: 0 max(10px, 3.1vw);
    }
    @media (max-width: $mobileL) {
      gap: 12vw;
    }
  }
  &__left {
    flex-basis: 34%;
    height: 420px;
    @include backgroundImage("./../images/about-pets.png", auto, top);
    position: relative;
    left: -52px;
    @media (max-width: $laptop) {
      flex-basis: initial;
      position: static;
      width: 300px;
      height: 408px;
    }
    @media (max-width: $mobileL) {
      height: 355px;
      background-size: contain;
    }
  }
  &__title {
    margin-bottom: 24px;
    padding-right: 5%;
    @media (max-width: $mobileL) {
      text-align: center;
      padding-right: 0;
    }
  }
  &__text {
    color: $color-dark-xl;
    margin-bottom: 25px;
    padding-right: 5px;
    @media (max-width: $mobileL) {
      text-align: justify;
      margin-bottom: 23px;
      padding-right: 0;
    }
    &_sub {
      margin-bottom: 0;
    }
  }
  &__right {
    flex-basis: 36%;
    padding-top: 15px;
    @media (max-width: $laptop) {
      flex-basis: 50%;
    }
    @media (max-width: $tablet) {
      width: 70%;
      padding: 0 33px;
    }
    @media (max-width: $burger) {
      flex-basis: 40%;
      width: 100%;
      padding: 0 30px;
    }
    @media (max-width: $mobileL) {
      width: 100%;
      padding: 0 15px;
    }
  }
}
