footer {
  @include backgroundImage("./../images/start-screen-gradient-background.png", cover, center);
  .container {
    display: grid;
    grid-template-columns: 24% 25% 35%;
    grid-template-areas: "questions adress img";
    column-gap: 152px;
    padding: 40px 21px 0 40px;
    .questions {
      grid-area: questions;
      padding: 16px 0 56px;
      @include flex(column, space-between, left);
      @media (max-width: $laptop) {
        padding-top: 0;
        padding-bottom: 0;
      }
      @media (max-width: $mobileL) {
        row-gap: 36px;
      }
      h3 {
        font-weight: normal;
        color: $color-white;
        @media (max-width: $mobileL) {
          text-align: center;
        }
      }
      &__mail {
        @include flex(row, left, center);
        gap: 6.5%;
        a {
          @include font(2rem, 1.15, 0.06em);
          color: $color-primary;
        }
        @media (max-width: $mobileL) {
          justify-content: center;
          align-items: center;
        }
      }
      &__tel {
        @include flex(row, left, center);
        gap: 6.5%;
        a {
          @include font(2rem, 1.15, 0.06em);
          color: $color-primary;
        }
        @media (max-width: $mobileL) {
          justify-content: center;
          align-items: center;
        }
      }
    }
    .adress {
      grid-area: adress;
      @include flex(column, space-between, left);
      position: relative; //TODO: remove position
      left: -6px;
      padding: 16px 0 56px;
      @media (max-width: $laptop) {
        position: static;
        padding-top: 0;
        padding-bottom: 0;
      }
      @media (max-width: $middle) {
        position: relative; //TODO: remove position
        top: 34px;
        left: 1px;
        row-gap: 39px;
      }
      @media (max-width: $mobileL) {
        margin-bottom: 15px;
      }
      @media (max-width: 330px) {
        //TODO: ненужный брейкпоинт
        margin-bottom: 0;
      }
      h3 {
        color: $color-white;
        @media (max-width: $mobileL) {
          text-align: center;
          padding: 0 10px;
        }
      }
      &__top {
        @include flex(row, left, center);
        gap: 6.1%;
        span {
          @include font(2rem, 1.15, 0.06em);
          color: $color-primary;
        }
      }
      &__bottom {
        @include flex(row, left, center);
        gap: 6.5%;
        span {
          @include font(2rem, 1.15, 0.06em);
          color: $color-primary;
        }
      }
    }
    .footer-img {
      grid-area: img;
      @include backgroundImage("./../images/pets/footer-puppy.png", cover, center);
      width: 300px;
      height: 310px;
      @media (max-width: $sub-dekstop) {
        width: 285px;
        flex-basis: calc(25% + 3vw);
        background-size: contain;
        background-position: bottom;
      }
      @media (max-width: $laptop) {
        width: 97%;
        height: 312px;
        grid-column: 1/4;
      }
      @media (max-width: $mobileL) {
        width: 86%;
        height: 312px;
        position: relative;
        left: 21px;
      }
    }
    @media (max-width: $sub-dekstop) {
      grid-template-columns: 32% 32% 20%;
      column-gap: 35px;
    }
    @media (max-width: $laptop) {
      grid-template-columns: 41% 0 45%;
      grid-template-rows: 235px;
      grid-template-areas:
        "questions . adress"
        "img img img";
      justify-content: space-evenly;
      padding-top: 32px;
      row-gap: 63px;
      column-gap: 0;
    }
    @media (max-width: $burger) {
      grid-template-columns: 43% 0 45%;
    }
    @media (max-width: $middle) {
      grid-template-areas:
        "questions questions questions"
        "adress adress adress"
        "img img img";
      grid-template-rows: 187px;
    }
    @media (max-width: $mobileL) {
      grid-template-columns: 46% 0 54%;
      grid-template-rows: 187px;
      row-gap: 27px;
      padding: 30px 10px 0;
    }
  }
  @media (max-width: $laptop) {
    height: auto;
  }
  .pets_container {
    padding: 41px 40px 0 40px;
  }
}
