.footer {
  @include backgroundImage("./../images/start-screen-gradient-background.png", cover, center);
  padding: 40px 0 0;
  @media (max-width: $tablet) {
    padding-top: 31px;
  }
  &__container {
    display: grid;
    grid-template-columns: 24% 25% 26%;
    grid-template-areas: "questions adress img";
    column-gap: 152px;
    @media (max-width: $sub-dekstop) {
      grid-template-columns: 32% 32% 20%;
      column-gap: 35px;
    }
    @media (max-width: $laptop) {
      grid-template-columns: 39.5% 0 42.7%;
      grid-template-rows: 235px;
      grid-template-areas:
        "questions . adress"
        "img img img";
      justify-content: space-evenly;
      row-gap: 63px;
      column-gap: 0;
    }
    @media (max-width: $burger) {
      grid-template-columns: 43% 0 45%;
    }
    @media (max-width: $middle) {
      grid-template-areas:
        "questions questions questions"
        "adress adress adress"
        "img img img";
      grid-template-rows: 187px;
    }
    @media (max-width: $mobileL) {
      grid-template-columns: 46% 0 54%;
      grid-template-rows: 219px;
      row-gap: 27px;
    }
  }
  &__title {
    color: $color-white;
    font-weight: normal;
    @media (max-width: $mobileL) {
      text-align: center;
      padding: 0 10px;
    }
  }
  &__questions {
    @include flex(column, space-between, left);
    grid-area: questions;
    padding: 16px 0 56px;
    @media (max-width: $laptop) {
      padding: 0;
    }
    @media (max-width: $mobileL) {
      justify-content: flex-start;
      align-items: center;
      row-gap: 42px;
    }
  }
  &__mail-svg {
    @include backgroundImage("./../images/svg/mail.svg", cover, center);
    height: 26px;
  }
  &__tel-svg {
    @include backgroundImage("./../images/svg/phone.png", cover, center);
  }
  &__adress {
    grid-area: adress;
    @include flex(column, space-between, left);
    padding: 16px 0 56px;
    @media (max-width: $laptop) {
      padding-top: 0;
      padding-bottom: 0;
    }
    @media (max-width: $middle) {
      row-gap: 39px;
    }
    @media (max-width: $mobileL) {
      margin-bottom: 15px;
    }
  }
  &__adress-svg {
    @include backgroundImage("./../images/svg/icon-marker.png", contain, center);
    &_position {
      @include backgroundImage("./../images/svg/icon-marker.png", contain, left);
    }
  }
  &__contact {
    @media (max-width: $mobileL) {
      justify-content: center;
      align-items: center;
    }
  }
  &__link {
    @include font(2rem, 1.15);
    display: flex;
    align-items: center;
    column-gap: 19px;
    color: $color-primary;
    &_position {
      column-gap: 0;
    }
  }
  &__img {
    grid-area: img;
    @include backgroundImage("./../images/pets/footer-puppy.png", contain, center);
    width: 315px;
    height: 310px;
    @media (max-width: $sub-dekstop) {
      width: 285px;
      flex-basis: calc(25% + 3vw);
      background-size: contain;
      background-position: bottom;
    }
    @media (max-width: $laptop) {
      width: 100%;
      height: 312px;
      grid-column: 1/4;
    }
    @media (max-width: $mobileL) {
      height: 267px;
    }
  }
  .pets_container {
    padding: 41px 40px 0 40px;
  }
}
