.header {
  @include flex(row, space-between, center);
  padding: 30px 0;
  @media (max-width: $mobileL) {
    padding: 30px 10px;
  }
  &__logo {
    @include flex(column, space-between, center);
    flex-shrink: 0;
  }
  &__title {
    margin-bottom: 10px;
    @media (max-width: $mobileL) {
      margin-bottom: 12px;
    }
  }
  &__link {
    color: $color-primary;
    &_color {
      color: $color-dark-l;
    }
  }
  &__subTitle {
    font-family: "Arial";
    @include font(1.3rem, 0.9375, 0.1em);
    color: $color-white;
    &_color {
      color: $color-dark-3xl;
    }
  }
}

.navigation {
  @include flex(row, space-between, center);
  @media (max-width: $burger) {
    opacity: 0;
    visibility: hidden;
    @include anima(burgerUnActive, 0.7s);
  }
  &__burger {
    @media (max-width: $burger) {
      position: fixed;
    }
  }
  &__link {
    color: $color-dark-s;
    transition: all 0.2s ease;
    &:hover {
      color: $color-light-s;
      transition: all 0.2s ease;
    }
    &_active {
      border-bottom: solid 4px $color-primary;
      transition: all 0.2s ease;
    }
    &_color {
      color: $color-dark-l;
      &:hover {
        color: $color-dark-3xl;
        transition: all 0.2s ease;
        @media (max-width: $burger) {
          color: $color-light-s;
        }
      }
    }
  }
}
