.help {
  padding: 80px 0 100px;
  @media (max-width: $burger) {
    padding: min(80px, 13.2%) 0 min(100px, 12.2%);
  }
  &__container {
    @include flex(column, flex-start, center);
  }
  &__title {
    width: 30%;
    text-align: center;
    margin-bottom: 57px;
    @media (max-width: $sub-dekstop) {
      width: 50%;
    }
    @media (max-width: $mobileL) {
      width: 75%;
      margin-bottom: 43px;
    }
  }
  &__services {
    max-width: 1030px;
    @include flex(row, center, center);
    flex-wrap: wrap;
    row-gap: 56px;
    column-gap: 11.6%;
    @media (max-width: $tablet) {
      width: 97%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      column-gap: 0;
    }
    @media (max-width: $middle) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
    }
    @media (max-width: $mobileL) {
      width: 100%;
      row-gap: 32px;
      column-gap: 15px;
    }
  }
  &__item {
    @include flex(column, space-between, center);
    @include font(2rem, 1.15);
    row-gap: 30px;
    color: $color-dark-l;
    @media (max-width: $mobileL) {
      row-gap: 19px;
      @include font(1.5rem, 1.1);
    }
  }
  &__img {
    @media (max-width: $mobileL) {
      width: 50px;
      height: 50px;
    }
  }
}
