.in-addition {
  background: $backgroundFriend;
  padding: 80px 0 98px;
  @media (max-width: $burger) {
    padding: max(42px, 10.5vw) 0 max(42px, 12.9vw);
  }
  &__container {
    @include flex(row, flex-start, flex-start);
    column-gap: 33px;
    @media (max-width: $laptop) {
      @include flex(column-reverse, space-between, center);
      row-gap: 10vw;
    }
    @media (max-width: $tablet) {
      row-gap: 58px;
    }
    @media (max-width: $mobileL) {
      row-gap: 13vw;
    }
  }
  &__left {
    flex-basis: 53.7%;
    height: 282px;
    @include backgroundImage("./../images/donation-dog.png", inherit, right);
    @media (max-width: $laptop) {
      flex-basis: initial;
      height: 34vw;
      width: 65%;
      background-position: center;
      background-size: contain;
    }
    @media (max-width: $tablet) {
      width: 70%;
      background-position: bottom;
    }
    @media (max-width: $mobileL) {
      width: 100%;
      height: 42vw;
    }
  }
  &__right {
    flex-basis: 30%;
    @media (min-width: $tablet) and (max-width: $laptop) {
      width: 65%;
    }
    @media (max-width: $tablet) {
      width: 54%;
    }
    @media (max-width: $burger) {
      width: 85%;
    }
    @media (max-width: $mobileL) {
      width: 100%;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &__title {
    margin-bottom: 19px;
    padding-right: 50px;
    @media (max-width: $tablet) {
      padding-right: 80px;
    }
    @media (max-width: $burger) {
      font-size: max(2.5rem, 4.55vw);
    }
    @media (max-width: $mobileL) {
      text-align: center;
      margin-bottom: 23px;
      padding: 0 35px;
    }
  }
  &__subtitle {
    @include font(1.5rem, 1.1);
    color: $color-dark-l;
    margin-bottom: 20px;
    @media (max-width: $mobileL) {
      margin-bottom: 24px;
      letter-spacing: normal;
      text-align: center;
    }
  }
  &__card {
    @include flex(row, space-between, center);
    @include font(2rem, 1.15);
    width: 349px;
    height: 43px;
    background: $color-primary;
    border-radius: 9px;
    color: $color-dark-l;
    margin-bottom: 21px;
    padding: 10px 15px;
    cursor: pointer;
    @media (max-width: $burger) {
      justify-content: space-around;
    }
    @media (max-width: $mobileL) {
      width: 100%;
      justify-content: space-between;
    }
  }
  &__link {
    color: $color-dark-l;
    @media (max-width: $mobileL) {
      font-size: max(1.44rem, 4.5vw);
    }
  }
  &__svg {
    @include backgroundImage("./../images/svg/credit-card.svg", contain, center);
    width: 30px;
    height: 23px;
  }
  &__content {
    @include fontArial;
    @include font(1.2rem, 1.5, normal);
    font-style: italic;
    color: $color-dark-m;
    @media (max-width: $mobileL) {
      width: 100%;
      text-align: justify;
    }
  }
}
