.our-friends {
  background: $backgroundFriend;
  .container {
    padding: 80px 40px 100px;
    @media (max-width: $laptop) {
      padding: min(77px, 11%) max(30px, 3.9%) min(101px, 13%);
    }
    @media (max-width: $burger) {
      position: relative;
      padding: max(42px, 9.82%) max(10px, 3vw) max(42px, 12.8vw);
    }
  }
}

.our-friends-title {
  text-align: center;
  margin-bottom: 60px;
  span {
    display: block;
  }
  @media (max-width: $burger) {
    margin-bottom: max(42px, 7.83vw);
  }
}

.pagination-wrapper {
  flex-grow: 1;
  @include flex(row, space-between, center);
  margin-bottom: 58px;
  position: relative;
  @media (max-width: $burger) {
    margin-bottom: 114px;
  }
}

.pagination-container {
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 1s ease;
  position: relative;
}

.pagination {
  height: 437px; //TODO: карточки идут сплошной карточкой
  width: 300%;
  display: grid;
  grid-template-columns: repeat(3, 1100px); //repeat(3, 270px);
  grid-auto-flow: column;
  column-gap: 90px; //на глаз
  align-items: start;
  justify-items: center;
  justify-content: space-around;
  transition: all 1s ease;
  position: relative;
  @media (max-width: $laptop) {
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
    overflow: hidden;
  }
  @media (max-width: $burger) {
    grid-template-columns: 1fr;
    column-gap: 12px;
    overflow: hidden;
  }
  @media (max-width: $mobileL) {
    width: 100%;
    height: 435px; //TODO
    // margin-bottom: 42px;
  }
}
.mainSlider {
  @include flex(row, space-around, center);
  width: 1050px; //270px
  height: 100%;
  gap: 28px;
  border-radius: 9px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.card {
  // width: 1100px; //270px
  height: 100%;
  @include flex(column, flex-start, center);
  gap: 28px;
  background: $color-light-s;
  border-radius: 9px;
  transition: all 0.5s ease;
  cursor: pointer;

  img {
    height: 270px;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    @media (max-width: $sub-dekstop) {
      width: 100%;
    }
  }
  span {
    @include font(20px, 1.3, 0.06em);
    color: $color-dark-l;
    margin-left: 1px;
  }
  &:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
    & .button {
      background: $color-primary-light;
      transition: all 0.4s ease;
      border: none;
    }
  }
  &__last {
    @media (max-width: $burger) {
      display: none;
    }
  }
  &__second {
    @media (max-width: $mobileL) {
      display: none;
    }
  }
  @media (max-width: $sub-dekstop) {
    max-width: 270px;
    padding-bottom: 29px;
  }
  @media (max-width: $laptop) {
    max-width: 270px;
    // justify-content: space-evenly;
    padding-bottom: 0;
  }
  @media (max-width: $mobileL) {
    height: 100%;
  }
}

// ------------------------pets----------------------//
.our_Friends {
  background: $backgroundFriend;
}

.our_Friends_container {
  @include flex(column, space-between, center);
  padding: 81px min(40px, 3.126%) 100px;
  h3,
  h3 ~ span {
    @include font(35px, 1.3, 0.06em);
    font-weight: 400;
    color: $color-dark-l;
    margin-left: 1px;
    @media (max-width: $burger) {
      font-size: min(2.5rem, 7.8vw);
    }
  }
  h3 ~ span {
    padding-bottom: 60px;
    @media (max-width: $tablet) {
      padding-bottom: 30px;
    }
    @media (max-width: $burger) {
      padding-bottom: 42px;
    }
  }
  @media (max-width: $sub-dekstop) {
    padding-bottom: max(75px, 7.68vw);
  }
  @media (max-width: $burger) {
    padding-bottom: max(44px, 9.9vw);
    padding-top: max(42px, 10.57vw);
  }
  .pagination_pets {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 28px;
    margin-bottom: 57px;
    @media (max-width: $sub-dekstop) {
      grid-template-columns: repeat(4, minmax(120px, 1fr));
      column-gap: min(50px, 3vw);
      row-gap: min(20px, 5vw);
      margin-bottom: max(9px, 1.17vw);
    }
    @media (max-width: $laptop) {
      grid-template-columns: repeat(3, minmax(120px, 1fr));
      grid-template-rows: 1fr 1fr 1fr 0;
      overflow: hidden;
    }
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 1fr 1fr 0;
      column-gap: min(50px, 5.5vw);
      row-gap: min(30px, 5.5vw);
      overflow: hidden;
    }
    @media (max-width: $burger) {
      grid-template-columns: repeat(2, minmax(257px, 303px));
      grid-template-rows: 1fr 1fr 1fr 0;
      column-gap: min(50px, 5.5vw);
      row-gap: min(30px, 2.5vw);
      overflow: hidden;
    }
    @media (max-width: $middle) {
      max-height: 1350px; //TODO: дубль высот
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr repeat(5, 0);
      row-gap: 30px;
      overflow: hidden;
    }
    @media (max-width: $mobileL) {
      max-height: 1367px; //TODO: дубль высот
      margin-bottom: 38px;
    }
    .card {
      height: 437px;
      @media (max-width: $sub-dekstop) {
        height: clamp(412px, 39vw, 437px);
      }
      @media (max-width: $laptop) {
        height: clamp(451px, 39vw, 437px);
        justify-content: space-evenly;
      }
      @media (max-width: $tablet) {
        height: 435px;
        justify-content: flex-start;
      }
      @media (max-width: $burger) {
        height: clamp(425px, 39vw, 437px);
        justify-content: flex-start;
      }
      @media (max-width: $mobileL) {
        height: clamp(435px, 39vw, 437px);
        // justify-content: flex-start;
      }
    }
  }
}
.pagination_pets_controls {
  @include flex(row, space-between, center);
  gap: 20px;
  .double_left,
  .one_left,
  .pagination_pets_value,
  .double_right,
  .one_right {
    width: 52px;
    height: 52px;
    @include flex(row, center, center);
    border-radius: 50%;
    cursor: pointer;
  }
  .double_right,
  .one_right,
  .double_left,
  .one_left {
    background: transparent;
    border: solid 2px $color-primary;
    transition: background-color 0.2s ease;
    &:hover {
      background: $color-primary-light;
      transition: background-color 0.2s ease;
    }
  }
  .pagination_pets_value {
    @include font(20px, 1.15, 0.06em);
    @include flex(row, center, center);
    border: none;
    &.active {
      background: $color-primary;
    }
    &.activeBtn {
      background: $color-primary;
    }
  }
  @media (max-width: $mobileL) {
    gap: 9px;
  }
}

.card_soffia,
.card_charly {
  height: min(269px, 21vw);
  width: 100%;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  @media (max-width: $laptop) {
    height: min(268px, 29.5vw);
  }
  @media (max-width: $tablet) {
    height: min(270px, 35.5vw);
  }
  @media (max-width: $burger) {
    height: 270px;
  }
}
// .card_soffia {
//   @include backgroundImage("./../images/pets/lebed.png", cover, center);
// }
// .card_charly {
//   @include backgroundImage("./../images/pets/charly.png", cover, center);
// }

@keyframes slideToLeft {
  0% {
    left: 0;
  }
  100% {
    left: 108.5%;
  }
}

.slideLeft {
  animation-name: slideToLeft;
  animation-duration: 2.5s;
}

@keyframes slideToRight {
  0% {
    left: 0;
  }
  100% {
    left: -108.5%;
  }
}

.slideRight {
  animation-name: slideToRight;
  animation-duration: 2.5s;
}
