.presentBackground {
  background: url(noise_lines_transparent@2X),
    radial-gradient(
        234.05% 111.8% at 0% 0%,
        rgb(91, 72, 58),
        rgb(38, 36, 37) 100%
      )
      rgb(33, 31, 32);
}

.container {
  @include flex();
  column-gap: 3rem;
  @include _890 {
    flex-direction: column;
    row-gap: 9rem;
  }
}

.content {
  @include flex(column, flex-start, flex-start);
  row-gap: 4.4rem;
  position: relative;
  bottom: 1rem;
  @include _890 {
    width: 65%;
    align-items: center;
    padding-top: 4rem;
  }
  @include _730 {
    width: initial;
  }
  & p {
    font-family: "Arimo", sans-serif;
    color: $color-dark-s;
    font-size: 1.5rem;
    line-height: 1.6;
    @include _730 {
      text-align: center;
      font-size: 1.5rem;
    }
  }

  & h1 {
    width: 35rem;
    @include _890 {
      width: 46rem;
      & span {
        display: inline-block;
      }
    }
    @include _730 {
      width: initial;
      text-align: center;
      word-spacing: 0.4rem;
      font-size: max(2.5rem, 6vw);
    }
  }
}

.imgWrapper {
  flex-basis: 133%;
  padding-top: 6.8rem;
  @include _890 {
    width: 80%;
    align-self: flex-end;
    padding-top: 0;
  }
  @include _730 {
    width: 87%;
    text-align: center;
  }
}

.button {
  background-color: $color-primary;
  border: none;
}
