.container {
  @include flex(row, space-between, flex-start);
  padding: 4rem 4rem 0;
  @include _1020 {
    flex-direction: column;
    padding-top: 2rem;
  }
  @include _730 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.contentContainer {
  @include flex(row, space-between, flex-start);
  width: 67%;
  margin-bottom: 4rem;
  @include _1020 {
    width: inherit;
    margin-bottom: 6.5rem;
  }
  @include _730 {
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    width: 100%;
    margin-bottom: 3rem;
  }
}

.content {
  @include flex(column, space-between, flex-start);
  flex-basis: 46%;
  padding-top: 1.6rem;
  @include _1020 {
    padding-top: 0.5rem;
  }

  & h2 {
    color: $color-light-xl;
    letter-spacing: 0.3rem;
    @include _730 {
      text-align: center;
    }
  }
  & div {
    column-gap: 2rem;
    & h3 {
      color: $color-primary;
      font-weight: 400;
    }
  }
}

.contentLeft {
  row-gap: 4.2rem;
  @include _1020 {
    padding-left: 3.2rem;
  }
  @include _768 {
    padding-left: 0;
  }

  & div {
    @include flex(row, space-between, flex-start);
    width: 64%;
    @include _730 {
      justify-content: flex-start;
    }
    & h3 {
      white-space: nowrap;
    }
  }
}

.contentRight {
  row-gap: 3.2rem;
  margin-left: -2rem;
  @include _1020 {
    flex-basis: 48%;
  }
  @include _730 {
    margin-left: 0;
    row-gap: 4.5rem;
  }
  & div {
    @include flex(row, space-between, center);
  }
}

.imageWrapper {
  align-self: flex-end;
  @include _1020 {
    align-self: center;
  }
  @include _730 {
    width: 87%;
  }
}
