.container {
  @include flex(row, space-between, flex-start);
  padding: 4rem 0 0 0;
}

.content {
  @include flex(column, space-between, flex-start);
  flex-basis: 23%;
  padding-top: 1.6rem;
  & h2 {
    color: $color-light-xl;
  }
  & div {
    column-gap: 2rem;
    & h3 {
      color: $color-primary;
      font-weight: 400;
    }
  }
}

.contentLeft {
  row-gap: 4.2rem;
  & div {
    @include flex(row, space-between, flex-start);
    width: 84%;
  }
}

.contentRight {
  row-gap: 3.2rem;
  margin-left: -2rem;
  & div {
    @include flex(row, space-between, center);
  }
}
