.container {
  @include flex(column);
  background-color: $color-light-s;
  border-radius: 0.9rem;
  & img,
  & h3,
  & .button {
    margin-bottom: 3rem;
    background-color: transparent;
  }

  & h3 {
    color: $color-dark-l;
    font-weight: 400;
  }
}

.button {
  border: 2px solid $color-primary;
}
